
/* LAYOUT STYLES */
/*===============*/

html {
  font-size: 16px; /* set font-size on root for rem units */
}
body {
  background-color: #ddd
}
.page-header {
  background-color: transparent;
  padding-left: 1rem;
  margin: 0 auto 2rem auto;
}
.container {
  max-width: 980px;
}
.container.form {
  padding-bottom: 3rem;
}
.row {
  margin-bottom: 0;
}
.page-content .row {
  padding: 2rem 2rem;
}
.exam-in-progress {
  margin-top: 5rem;
}

.col > .row {
  padding: 0;
}
.content .col > .row > .col {
  margin-top: 2rem;
}


@media only screen and (min-width: 601px) {  /* MEDIUM */
  .container {
    width: 93%;
  }
  .page-header {
    padding-left: 2rem;
    margin: 2rem auto 3rem auto;
  }
  .content .col > .row > .col:first-child {
    margin-top: 0;
  }
}
@media only screen and (min-width: 993px) {  /* LARGE */
  .container {
    width: 90%;
  }
}


/* GENERAL STYLES */
/*================*/
h1 {
  font-weight: 700;
}
.page-header h2 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: .82rem 0 .656rem 0;
}
h5 {
  margin-bottom: 1.5rem;
}
.divider {
  margin-left: 2rem;
  margin-right: 2rem;
}
.bold-text {
  font-weight: 700;
}
.error-text {
  color: #F44336;
  font-size: .875rem;
}
.bold-text a {
  color: rgb(255,112,67)
}
.bold-text a:hover {
  color: #ff8a65;
}
.nav-top .button-collapse {
  float: right;
}
.nav-top .brand-logo {
  -webkit-transform: none;
  transform: none;
  left: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  color: black;
}
.nav-top a,
.nav-top ul a {
  color: black;
}
.nav-top ul a:hover {
  background-color: rgba(255,112,67, 0.1)
}
.card .card-content {
  color: white;
}
.card .card-action {
  border-top: 1px solid rgba(255,255,255,0.25);
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: white;
}
.duration {
  padding-left: 1rem;
}
ul.nested-list {
  padding-left: 1rem;
  font-size: .875rem;
}
ul.icon >li {
  padding-left: 1rem;
}

ul.icon >li::before {
  font-family: "Material Icons";
  content:'\e409';
  font-size: 1.5rem;
  position: absolute;
  margin-left: -24px;
  margin-top: -7px;
  /* revert back to just font-size: 1rem without absolute and margins in bugs */
}
.left-border {
  border-left: 4px solid rgb(255,112,67);
  padding-left: 20px;
  line-height: 110%;
  margin-top: 0
}
.btn,
.btn-large {
  background-color: rgb(255,112,67);
}

.btn:hover,
.btn-large:hover {
  background-color: #ff8a65;
}
.page-footer {
  margin-bottom: 5rem;
  box-shadow:
  inset 0 4px 5px 0 rgba(0,0,0,0.25),
  0 1px 10px 0 rgba(0,0,0,0.12),
  0 2px 10px -1px rgba(0,0,0,0.3),
  0 1px 10px 0 rgba(0,0,0,0.12);
}
.page-footer .row {
  margin-bottom: 0;
}
.page-footer .footer-copyright {
  justify-content: center;
  font-size: 0.875rem;
}


@media only screen and (min-width: 601px) {  /* MEDIUM */
  .left-border-m {
    border-left: 4px solid rgb(255,112,67);
    padding-left: 20px;
    line-height: 120%;
    margin-top: 0;
  }
}
@media only screen and (min-width: 993px) {  /* LARGE */

}


/* ANIMATIONS & TRANSITIONS */
/* Nav hide animation */
.animate-hide-nav.ng-hide {
  display: block !important;
  visibility: hidden;
  transform: translateY( -65px );
  transition: all linear 0.5s;
  opacity: 0;
}
.animate-hide-footer.ng-hide {
  display: block !important;
  transform: translateY( 35px );
  transition: all linear 0.5s;
  opacity: 0;
}
.animate-hide-nav.ng-hide-add,
.animate-hide-nav.ng-hide-remove,
.animate-hide-footer.ng-hide-add,
.animate-hide-footer.ng-hide-remove {
  transition: all linear 0.5s;
}

/* ngView Animation */
/* starting animations */
.animate.ng-enter {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity: 0;
}
/* destination animations */
.animate.ng-enter.ng-enter-active{
  opacity: 1;
}


/* weird stuff: */
/* reset all left & right aligned elements to align center on small screens */
@media only screen and (max-width: 600px) {
  .center-s {
    text-align: center;
  }
}
