<main class="container page-content exam-in-progress z-depth-5 white content">
  <section>
    <div class="row">
      <div class="col s12">
          <h5 class="left-border">
            You Are About to<br />
            Start the {{ examList[0].name }} Exam
          </h5>
          <p>Please note:</p>
            <ul class="icon">
              <li>The site's navigation will be disabled once you start the exam.</li>
              <li>Choose your answer for each question</li>
              <li>Click on 'Finish Exam' </li>
              <li>A score report will be shown after you finish the exam.</li>
            </ul>
            <p>Good Luck!</p>
          <div>
            <a class="waves-effect waves-light btn-large" href="exams/exam-inprogress">Start Exam Now</a>
          </div>
          <div>
            <a class="waves-effect waves-light btn-large" ng-click="hideNav.examInProgress = false" href="exams">Back To Safety</a>
          </div>
      </div>
    </div>
  </section>
</main>