<div header></div>

<main class="container page-content z-depth-5 white">
  <section>
    <div class="row">
      <div class="col s12">
        <h5 class="left-border">About <br>This Exam</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et neque in nibh tincidunt tempor. Pellentesque
          a gravida libero, id efficitur neque. In id tellus sodales, vestibulum ipsum quis, vulputate turpis. Sed sed quam
          augue. Vestibulum sed massa nulla. Nunc sodales pellentesque turpis, eu ullamcorper mi sodales sed. Aenean rutrum
          felis vel elit malesuada imperdiet.</p>
        <div>
          <a class="waves-effect waves-light btn-large" href="exams/exam-start/">Take This Exam</a>
        </div>
        <p class="center-s">Duration: max 45 minutes</p>
      </div>
    </div>
  </section>
  <div class="divider"></div>
  <section>
    <div class="row">
      <div class="col s12 m7">
        <div class="row">
          <div class="col s12">
            <h5 class="left-border">Exam <br>Type</h5>
            <p>Multiple choice questions with single correct answer</p>
          </div>
          <div class="col s12">
            <h5 class="left-border">Skills <br>Measured</h5>
            <p>This exam measures your ability to accomplish the technical tasks listed below.</p>
            <ul class="icon">
              <li>JavaScript
                <ul class="nested-list">
                  <li>Use comparison operators</li>
                  <li>Use conditional statements</li>
                  <li>Create and implement objects and methods</li>
                  <li>Establish Scope of variables and objects</li>
                </ul>
              </li>
              <li>jQuery
                <ul class="nested-list">
                  <li>Find elements by using CSS selectors and jQuery</li>
                  <li>Apply animations</li>
                </ul>
              </li>
              <li>Other
                <ul class="nested-list">
                  <li>Some HTML and CSS may be in here as well</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m5">
        <div class="row">
          <div class="col s12">
            <h5 class="left-border">Preparation <br>Options</h5>
            <ul class="icon">
              <li>Code Institute</li>
              <li>Codecademy</li>
              <li>Eloquent JavaScript Book</li>
              <li>Online Tutorials</li>
            </ul>
          </div>
          <div class="col s12">
            <h5 class="left-border">Pass <br>Requirements</h5>
            <ul class="icon">
              <li>Get a score of at least 70%</li>
            </ul>
          </div>
          <div class="col s12">
            <h5 class="left-border">Next Step <br>After Passing</h5>
            <ul class="icon">
              <li>Learn more new things and take more exams!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>