<main class="container page-content exam-in-progress z-depth-5 white">
  <section>
    <div class="row">
      <div class="col s12">
        <h5 class="left-border">{{ examList[0].name }} <br>Exam in Progress</h5>
        <div ng-repeat="question in examData">
          <p>{{ question.questionText }}</p>
          <ul id="question{{$index}}" class="isCorrect-{{question.isCorrect}}">
            <li ng-repeat="choice in question.choices">
              <input id="choiceId-{{question.questionId}}-{{choice.choiceId}}" type="radio" name="{{question.questionId}}" class="with-gap"
                ng-model="question.selected" value="{{$index}}"/>
              <label for="choiceId-{{question.questionId}}-{{choice.choiceId}}" >{{ choice.name }}</label>
            </li>
          </ul>
          <div class="divider"></div>
        </div>
        <p ng-show="examFinished">You answered {{ examMetrics.correctCount }} out of {{examData.length}} questions correctly.</p>
        <button class="waves-effect waves-light btn-large" ng-click="submitExam()" ng-hide="examFinished">Finish Exam</button>
        <a class="waves-effect waves-light btn-large" href="exams/exam-certificate" ng-show="examFinished">Next</a>
      </div>
    </div>
  </section>
  <!-- 
  Uncomment for testing:
  shows how json data objects are updated based on answer selection and after clicking 'Submit Exam'
  <section>
    <div class="row">
      <div class="col s12">
        <p>Correct Answers: {{ examMetrics.correctCount }} out of {{examData.length}}</p>
        <p>Percentage correct: {{ examMetrics.scorePercent }}</p>
        <p>Pass or Fail? {{ examMetrics.scoreResult }}</p>
        <div>
          Answers:
          <pre>{{ examData | json }}</pre>
        </div>
      </div>
    </div>
  </section>
  -->
</main>