<main class="container page-content exam-start z-depth-5 white">
  <section>
    <div class="row">
      <div class="col s12">
          <h5 class="left-border">
            You Are About to<br />
            Start the {{ examList[0].name }} Exam
          </h5>
          <p>Please note:</p>
            <ul class="icon">
              <li>The site's navigation will be disabled during the exam.</li>
              <li>Submit you exam once you've answered all questions.</li>
              <li>You will be provided with a score report after submiting the exam.</li>
            </ul>
          <p>Good Luck!</p>
          <div class="btn-left">
            <a class="waves-effect waves-light btn-large" href="exams/exam-inprogress">Start Exam Now</a>
          </div>
          <div class="btn-right">
            <a class="waves-effect waves-light btn-large" href="exams" ng-click="hideNav.examInProgress = false">Back To Safety</a>
          </div>
      </div>
    </div>
  </section>
</main>