<main class="container page-content exam-in-progress z-depth-5 white content">
  <section>
    <div class="row">
      <div class="col s12">
        <form action="#">
          <p>
            <input type="checkbox" ng-model="hideNav.examInProgress" aria-label="Toggle ngHide" id="test1" />
            <label for="test1">Toggle Hide Navigation (for testing)</label>
          </p>
        </form>
      </div>
    </div>
  </section>
  <div class="divider"></div>
  <section>
    <div class="row">
      <div class="col s12">
        <h5 class="left-border">Fetching JSON data from ./data/exam1.json ...</h5>
        <ul>
          <div ng-repeat="exam in examData">
            <div ng-repeat="question in exam.questions">
              <p>{{ question.name }}</p>
              <ul>
                <li ng-repeat="choice in question.choices">
                  <input id="choiceId-{{question.questionId}}-{{choice.choiceId}}" type="radio" class="with-gap"
                    ng-model="examAnswers.selections['questionId-' + question.questionId]" value="choiceId-{{question.questionId}}-{{choice.choiceId}}"/>
                  <label for="choiceId-{{question.questionId}}-{{choice.choiceId}}">{{ choice.name }} - {{choice.isAnswer}}</label>
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col s12">
          Answers:
        <pre>{{ examAnswers | json }}</pre>
      </div>
    </div>
  </section>
</main>