<header class="container page-header">
  <div class="row">
    <div class="col s12">
      <h1 class="header">{{ heading }}</h1>
      <h2 class="light subheader">{{ subheading }}</h2>
    </div>
  </div>
</header>

<main class="container page-content z-depth-5 white content">
  <section>
    <div class="row">
      <div class="col s12">
        <h5 class="left-border">Sample <br>Exams</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et neque in nibh tincidunt tempor. Pellentesque
          a gravida libero, id efficitur neque. In id tellus sodales, vestibulum ipsum quis, vulputate turpis. Sed sed quam
          augue. Vestibulum sed massa nulla. Nunc sodales pellentesque turpis, eu ullamcorper mi sodales sed. Aenean rutrum
          felis vel elit malesuada imperdiet. Mauris lacinia lacus at turpis dapibus, quis sollicitudin odio egestas. Pellentesque
          feugiat varius sem, quis porta urna porttitor ut. Phasellus imperdiet erat orci, et volutpat massa finibus ac.
          Praesent elementum non nisl et elementum.</p>
        <p style="color: red">ANY ONE OF THE EXAMS BELOW WILL TAKE YOU TO A SINGLE DEMO EXAM! - TRY IT BELOW (work in progress)</p>
      </div>
    </div>
  </section>
  <div class="divider"></div>
  <section>
    <div class="row">

      <form action="#" id="examFilter">
        <div class="col s6 m4 l2">
          <input class="with-gap" name="examFilter" type="radio" id="showAll" value="" data-ng-model="exam.type" ng-checked="true"/>
          <label for="showAll">Show All</label>
        </div>
        <div class="col s6 m4 l2">
          <input class="with-gap" name="examFilter" type="radio" id="coding" value="coding" data-ng-model="exam.type" />
          <label for="coding">Coding</label>
        </div>
        <div class="col s6 m4 l2">
          <input class="with-gap" name="examFilter" type="radio" id="math" value="math" data-ng-model="exam.type" />
          <label for="math">Mathematics</label>
        </div>
        <div class="col s6 m4 l2">
          <input class="with-gap" name="examFilter" type="radio" id="productivity" value="productivity" data-ng-model="exam.type" />
          <label for="productivity">Productivity</label>
        </div>
        <div class="col s6 m4 l2">
          <input class="with-gap" name="examFilter" type="radio" id="itTech" value="it_tech" data-ng-model="exam.type" />
          <label for="itTech">IT Tech</label>
        </div>
        <div class="col s6 m4 l2">
          <input class="with-gap" name="examFilter" type="radio" id="other" value="other" data-ng-model="exam.type" />
          <label for="other">Other</label>
        </div>
      
      </form>

    </div>
  </section>

  <section>
      <div class="row">
        <div class="col s12 m6 l4" data-ng-repeat="exam in examList | filter: {type:exam.type} | orderBy: '-name'">
          <div class="card hoverable deep-orange lighten-1">
            <div class="card-image">
              <img data-ng-src="{{ exam.image }}">
              <span class="card-title">{{ exam.name }}</span>
            </div>
            <div class="card-content">
              <p>Provider: {{ exam.provider}}</p>
            </div>
            <div class="card-action">
              <a href="{{ exam.path }}">Info</a>
              <a href="{{ exam.path }}">Take Exam</a>
            </div>
          </div>
        </div>
      </div>
  </section>
</main>