<div header></div>

<main class="container page-content z-depth-5 white content">
  <section>
    <div class="row">
      <div class="col s12">
        <h5 class="left-border">Frequently <br>Asked Questions</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et neque in nibh tincidunt tempor. Pellentesque
          a gravida libero, id efficitur neque. In id tellus sodales, vestibulum ipsum quis, vulputate turpis. Sed sed quam
          augue. Vestibulum sed massa nulla.</p>
      </div>
    </div>
    <div class="row collapsible-faq">
      <div class="col s12">
        <ul class="collapsible" data-collapsible="accordion" watch>
          <li>
            <div class="collapsible-header active"><i class="material-icons deep-orange-text text-lighten-1">live_help</i>Item1</div>
            <div class="collapsible-body">
              <p>content</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons deep-orange-text text-lighten-1">live_help</i>Item2</div>
            <div class="collapsible-body">
              <p>content</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons deep-orange-text text-lighten-1">live_help</i>Item3</div>
            <div class="collapsible-body">
              <p>content</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div class="divider"></div>
  <section id="faqAboutProject">
    <div class="row">
      <div class="col s12">
        <h5 class="left-border">About <br>This Project</h5>
        <p>As you may have noticed, this isn't a fully working application. This is a final project for the Front-End Development part of the Full-Stack Software Developer course from Code Institute. This is a showcase of the skills I've learned so far and kind of a proof of concept</p>
      </div>
    </div>
    <div class="row collapsible-faq">
      <div class="col s12">
        <ul class="collapsible" data-collapsible="accordion" watch>
          <li>
            <div class="collapsible-header active"><i class="material-icons deep-orange-text text-lighten-1">live_help</i>What is this app for?</div>
            <div class="collapsible-body">
              <p>It's for all your multiple choice quizzing and examination needs :) This is a front-end web development project for a hypothetical examination app.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons deep-orange-text text-lighten-1">live_help</i>What does it do?</div>
            <div class="collapsible-body">
              <p>It contains informational views about the application and services offered, such as: faq, pricing, exam list, &amp; login/registration forms. It also allows you to take a sample interactive exam and provide be provided with score report at end</p>
              <p>The idea is that the complete app would allows organizations to host their multiple choice exams/quizzes and users could register to take them. However, no backend for this to be possible is going to be implemented at this stage. This is more of a proof of concept with focus on front end and set of of AngualrJS templates, controllers, routes, and services.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons deep-orange-text text-lighten-1">live_help</i>How does it work?</div>
            <div class="collapsible-body">
              <p>This is a Single Page Application on AngularJS and uses JSON data to generate exam questions and answers. The site is styled with MaterializeCSS.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons deep-orange-text text-lighten-1">live_help</i>Why AngularJS?</div>
            <div class="collapsible-body">
              <p>Some Amazing AngularJS Features:</p>
              <ul class="nested-list">
                <li>Improved User Experience</li>
                <li>HTTP Communication with XHR (XML Http Request)</li>
                <li>DOM Manipulation</li>
                <li>State and Routing</li>
                <li>MVC (MVVM in this case)</li>
              </ul>
              <p>Benefits:</p>
              <ul class="nested-list">
                <li>Two-Way Data Binding</li>
                <li>Many ways to do things</li>
                <li>Good Documentation</li>
                <li>Large Community</li>
                <li>Can get very productive one you get familiar</li>
              </ul>
              <p>Some Downsides though:</p>
              <ul class="nested-list">
                <li>Steep Learning Curve (At least I thinks so :)</li>
                <li>Lots of unfamiliar terms)</li>
                <li>Many ways to do things</li>
                <li>SEO ?</li>
              </ul>
                <p>Overall, benefits outweigh the downsides!</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div class="divider"></div>
  <section>
    <div class="row">
      <div class="col s12">
        <p>Want even more info or want a look at the <span class="bold-text">source files</span>? head over to the project's <a class="link-text" href="https://github.com/sebam2k4/stream1-project">github</a> Page.</p>
        <p>Visit my Web Development <a class="link-text" href="https://github.com/sebam2k4/stream1-project">Portfolio</a> to see more of my work</p>
        <p>Check out <a class="link-text" href="https://www.codeinstitute.net/">Code Institute</a> and their Full Stack Software Development course - This web application is 1 of 3 big projects I'm build during the course... stay tuned for more in near future</p>
        <p>All photographic images are from <a class="link-text" href="https://unsplash.com/">Unsplash</a></p>
        <p>Memphic-colorful background obtained from <a class="link-text" href="https://www.toptal.com/designers/subtlepatterns/">Subtle Patterns</a>, &copy; Toptal Designers</p>
        <p>Have a wonderful day!</p>
      </div>
    </div>
  </section>
</main>