<div header></div>

<main class="container page-content z-depth-5 white form">
  <section>
    <div class="row">
      <div class="col s12">
        <h5 class="left-border">Login <br>To Your Account</h5>
        <p>Fill out the details below to log in to your test taker or organization account. <span class="bold-text">Not yet registered?</span><a class="link-text" href="register"> Register Here</a></p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <!-- run submitForm() function on submit after form validates (html5 validation) -->
      <form name="login-form" ng-submit="submitForm(true)" class="col s12 m8 push-m2 l6 push-l3">
        <!-- EMAIL -->
        <div class="row">
          <div input-field class="col s12">
            <input id="email" name="email" type="email" class="validate" required>
            <label for="email" data-error="This doesn't appear to be a valid email address" data-success="looks like a valid email">Email Address</label>
          </div>
        </div>
        <!-- PASSWORD -->
        <div class="row">
          <div input-field class="col s12">
            <input id="password" name="password" type="password" class="validate" minlength="5" required>
            <label for="password" data-error="minimum 5 characters required!" data-success="looks good!">password</label>
          </div>
        </div>
        <!-- SUBMIT BUTTON -->
        <div class="row">
          <div class="col s12">
            <button type="submit" class="waves-effect waves-light btn-large btn-submit">Submit</button>
          </div>
        </div>
        <!-- ERROR MESSAGE -->
        <div class="row" ng-if="validated">
          <div class="col s12">
            <p class="error-text">Wrong email address or password! <br> No account? <a class="link-text" href="register">Register</a></p>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>