<header class="container">
  <div class="row">
    <div class="section no-pad-bot" id="index-banner">
      <h1 class="header col s12 m8 orange-text">{{ heading }}</h1>

      <h5 class="header col s12 light">{{ subheading }}</h5>
    </div>
  </div>
</header>
<main class="container z-depth-5">
  <div class="row all-rows">
    <div class="col s12">
      <div class="section content">
        <div class="row">
          <div class="col s12">
            <h5 class="left-border">Page 2</h5>
            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque lobortis euismod. Suspendisse potenti. Quisque id aliquam quam, eget varius tortor. Curabitur finibus ante quis tortor blandit feugiat. Integer quis nisl sit amet nisl congue tempor lobortis ac nunc. Nulla varius laoreet quam. Vestibulum sollicitudin libero risus, quis porttitor diam aliquet id. Ut lobortis pulvinar libero id consequat. Cras lobortis arcu quis felis blandit posuere. Donec tincidunt consectetur tellus vel tempus. Nulla at sapien aliquet, egestas dui vitae, accumsan arcu. Fusce quis elementum libero.</p>
              <form action="#">
                  <p>
                    <!-- make this work from ng-view controllers -->
                    <input type="checkbox" ng-model="Data.examInProgress" aria-label="Toggle ngHide" id="test1" />
                    <label for="test1">Toggle Hide Navigation</label>
                  </p>
                </form>
                <div class="center">
                    <a ng-click="Data.examInProgress = true" class="waves-effect waves-light btn">Start Exam</a>
                  </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col s12">
            <h5 class="left-border">Page 2</h5>
            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque lobortis euismod. Suspendisse potenti. Quisque id aliquam quam, eget varius tortor. Curabitur finibus ante quis tortor blandit feugiat. Integer quis nisl sit amet nisl congue tempor lobortis ac nunc. Nulla varius laoreet quam. Vestibulum sollicitudin libero risus, quis porttitor diam aliquet id. Ut lobortis pulvinar libero id consequat. Cras lobortis arcu quis felis blandit posuere. Donec tincidunt consectetur tellus vel tempus. Nulla at sapien aliquet, egestas dui vitae, accumsan arcu. Fusce quis elementum libero.</p>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col s12">
            <h5 class="left-border">Page 2</h5>
            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque lobortis euismod. Suspendisse potenti. Quisque id aliquam quam, eget varius tortor. Curabitur finibus ante quis tortor blandit feugiat. Integer quis nisl sit amet nisl congue tempor lobortis ac nunc. Nulla varius laoreet quam. Vestibulum sollicitudin libero risus, quis porttitor diam aliquet id. Ut lobortis pulvinar libero id consequat. Cras lobortis arcu quis felis blandit posuere. Donec tincidunt consectetur tellus vel tempus. Nulla at sapien aliquet, egestas dui vitae, accumsan arcu. Fusce quis elementum libero.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>