<div header></div>
<main class="container page-content z-depth-5 white">
  <section>
    <div class="row">
      <div class="col s12">
        <h5 class="left-border">Compare <br>Our Plans</h5>
        <p>hover over the featurs below for extra info</p>
        <table class="striped highlight">
          <thead class="deep-orange-text text-lighten-1">
            <tr>
              <th>Features</th>
              <th>Exam Taker</th>
              <th>Standard</th>
              <th>Pro</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Price:</td>
              <td>Always Free</td>
              <td>$10/month</td>
              <td>contact us</td>
            </tr>
            <tr tooltipped data-position="bottom" data-delay="50" data-tooltip="Specialized platforms for exam takers &amp; providers">
              <td>Dashboard: <i class="material-icons">info_outline</i></td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>
            <tr tooltipped data-position="bottom" data-delay="50" data-tooltip="Detailed scorecards and exam metrics">
              <td>Analytics: <i class="material-icons">info_outline</i></td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>
            <tr tooltipped data-position="bottom" data-delay="50" data-tooltip="Available for Android and iOS">
              <td>Mobile App: <i class="material-icons">info_outline</i></td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>
            <tr tooltipped data-position="bottom" data-delay="50" data-tooltip="Awesome 24/7 email and phone support">
              <td>Support: <i class="material-icons">info_outline</i></td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>
            <tr tooltipped data-position="bottom" data-delay="50" data-tooltip="No cancellation fees">
              <td>Cancel Anytime: <i class="material-icons">info_outline</i></td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>
            <tr tooltipped data-position="bottom" data-delay="50" data-tooltip="Number of exams you can create">
              <td>Create Exams: <i class="material-icons">info_outline</i></td>
              <td></td>
              <td>25</td>
              <td>Unlimited</td>
            </tr>
            <tr tooltipped data-position="bottom" data-delay="50" data-tooltip="integrate with your course or LMS!">
              <td>Web API: <i class="material-icons">info_outline</i></td>
              <td></td>
              <td></td>
              <td>Yes</td>
            </tr>
            <tr tooltipped data-position="bottom" data-delay="50" data-tooltip="Use your own branding">
              <td>White Label: <i class="material-icons">info_outline</i></td>
              <td></td>
              <td></td>
              <td>Yes</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <div class="divider"></div>
  <section>
    <div class="row">
      <div class="col s12">
        <h5 class="center">Join thousands who are already using our awesome Platform!</h5>
        <div class="center">
          <a href="register" class="waves-effect waves-light btn-large">Register Now</a>
        </div>
      </div>
    </div>
  </section>
</main>