<div header></div>

<main class="container page-content z-depth-5 white form">
  <section>
    <div class="row">
      <div class="col s12">
        <h5 class="left-border">Register <br>Your Account</h5>
        <p>Fill out the form below to register for an account. <span class="bold-text">For Testing purposes only - Use fake input details</span></p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <!-- run submitForm() function on submit after form validates (html5 validation) -->
      <form name="register-form" ng-submit="submitForm(true)" class="col s12 m10 push-m1 l8 push-l2">
        <!-- EMAIL - must contain only 2 to 3 letters from a-z after . -->
        <div class="row">
          <div input-field class="col s12">
            <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="validate" required>
            <label for="email" data-error="This doesn't appear to be a valid email address" data-success="looks like a valid email">Email Address*</label>
          </div>
        </div>
        <!-- PASSWORD - must contain 8 or more characters & include at least one number, and one uppercase and lowercase letter -->
        <div class="row">
          <div input-field class="col s12">
            <input id="password" name="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="validate" required>
            <label for="password" data-error="minimum 8 characters &amp; 1 number &amp; 1 uppercase letter" data-success="looks good!">Password*</label>
          </div>
        </div>
        <!-- SELECT ACCOUNT -->
        <p>Select Account Type:</p>
        <p>
          <input id="account-type-user" name="acccount-type" type="radio" class="validate with-gap" required ng-model="account.type" value="user" />
          <label for="account-type-user">Exam Taker <span class="light">(Free Account)</span></label>
        </p>
        <p>
          <input id="account-type-org" name="acccount-type" type="radio" class="validate with-gap" required ng-model="account.type" value="org" />
          <label for="account-type-org">Organization <span class="light">(&#8364;20/month)</span></label>
        </p>
        <!-- NAME -->
        <div ng-show="account.type == 'user'" class="row">
          <div input-field class="col s12">
            <input id="name-user" name="name-user" type="text" class="validate" ng-model="account.name" ng-required="account.type == 'user'">
            <label for="name-user" data-error="Can't be blank" data-success="Yey!">Name*</label>
          </div>
        </div>
        <!-- ORGANIZATION NAME -->
        <div ng-show="account.type == 'org'" class="row">
          <div input-field class="col s12">
            <input id="name-org" name="name-org" type="text" class="validate" ng-model="account.name" ng-required="account.type == 'org'">
            <label for="name-org" data-error="Can't be blank" data-success="Yey!">Organization Name*</label>
          </div>
        </div>
        <!-- ADDRESS -->
        <div class="directive-wrapper" ng-show="account.type == 'user' || account.type =='org'">
          <div class="row">
            <div input-field class="col s8">
              <input id="address-line1" name="address" type="text" class="validate" required>
              <label for="address1-line1" data-error="Can't be blank" data-success="looks good!">Street Address Line 1*</label>
            </div>
            <div input-field class="col s4">
              <input id="address-apt" name="address" type="text" class="validate">
              <label for="address-apt" data-success="looks good!">Apt No</label>
            </div>
          </div>
          <div class="row">
            <div input-field class="col s8">
              <input id="address-line2" name="address" type="text" class="validate">
              <label for="address1-line2" data-success="looks good!">Street Address Line 2</label>
            </div>
            <div input-field class="col s4">
              <input id="address-code" name="address" type="text" class="validate">
              <label for="address-code" data-success="looks good!">Post code</label>
            </div>
          </div>
          <div class="row">
            <div input-field class="col s8">
              <input id="address-city" name="address" type="text" class="validate" required>
              <label for="address1-city" data-error="Can't be blank" data-success="looks good!">City*</label>
            </div>
            <div input-field class="col s4">
              <select id="address-country" name="address" material-select>
                  <option ng-repeat="country in countries | orderBy: name">{{ country }}</option>
                </select>
              <label>Country</label>
            </div>
          </div>
          <!-- TELEPHONE NO - Digits only -->
          <div class="row">
            <div input-field class="col s12">
              <input id="tel" name="tel" type="tel" pattern="\d*" class="validate" required>
              <label for="tel" data-error="Digits only" data-success="looks good!">Telephone No*</label>
            </div>
          </div>
        </div>
        <!-- ORGANIZATION TYPE -->
        <div class="directive-wrapper" ng-show="account.type == 'org'">
          <p>Select Organization Type:</p>
          <p>
            <input id="org-type-edu" name="org-type" type="radio" class="validate with-gap" ng-required="account.type == 'org'" />
            <label for="org-type-edu">Educational</label>
          </p>
          <p>
            <input id="org-type-gov" name="org-type" type="radio" class="validate with-gap" ng-required="account.type == 'org'" />
            <label for="org-type-gov">Government</label>
          </p>
          <p>
            <input id="org-type-np" name="org-type" type="radio" class="validate with-gap" ng-required="account.type == 'org'" />
            <label for="org-type-np">Non-Profit</label>
          </p>
          <p>
            <input id="org-type-biz" name="org-type" type="radio" class="validate with-gap" ng-required="account.type == 'org'" />
            <label for="org-type-biz">Business Company</label>
          </p>
          <p>
            <input id="org-type-other" name="org-type" type="radio" class="validate with-gap" ng-required="account.type == 'org'" />
            <label for="org-type-other">Other</label>
          </p>
        </div>
        <!-- PAYMENT -->
        <div class="directive-wrapper" ng-show="account.type == 'org'">
          <div class="row">
            <div class="col s12">
              <p>Payment Details:</p>
            </div>
          </div>
          <div class="row">
            <div input-field class="col s8">
              <input id="card-number" name="payment" type="text" pattern="[0-9]{16,}" class="validate" ng-required="account.type == 'org'">
              <label for="card-number" data-error="minimum 16 numbers" data-success="looks good!">Card Number</label>
            </div>
            <div input-field class="col s4">
              <select id="card-type" name="payment" material-select>
                    <option>Visa</option>
                    <option>MasterCard</option>
                    <option>American Express</option>
                    <option>Discover</option>
                  </select>
              <label>Card Type</label>
            </div>
          </div>
          <div class="row">
            <div input-field class="col s6">
              <label for="card-date">Expiry date</label>
              <input input-date type="text" name="created" id="card-date" ng-model="currentTime" container="" format="mm/yyyy" months-full="{{ month }}"
                months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}"
                disable="disable" min="{{ minDate }}" max="{{ maxDate }}" today="today" first-day="1" clear="clear" close="close"
                select-years="6" select-months="true" on-start="onStart()" on-render="onRender()" on-open="onOpen()" on-close="onClose()"
                on-set="onSet()" on-stop="onStop()" />
            </div>
            <div input-field class="col s4">
              <input id="caed-ccv" name="payment" type="text" class="validate" ng-required="account.type == 'org'">
              <label for="card-ccv" data-error="Can't be blank" data-success="Thanks ;)">CCV (security code)</label>
            </div>
          </div>
          <p>
            <input type="checkbox" id="terms" ng-required="account.type == 'org'" />
            <label for="terms">Accept Terms &amp; Conditions</label>
          </p>
        </div>
        <!-- SUBMIT BUTTON -->
        <div class="row">
          <div class="col s12">
            <button type="submit" class="waves-effect waves-light btn-large btn-submit">Submit</button>
          </div>
        </div>
        <!-- SUCCESS MESSAGE -->
        <div class="row" ng-show="validated">
          <div class="col s12">
            <p><span class="bold-text">Congratulations {{ account.name }}!</span> Your form inputs validated correctly!</span>
            </p>
            <p class="error-text">However, the registration and account features of this project are not currently implemented. No data has been
              collected.
            </p>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- MODAL -->
  <section>
    <div class="row">
      <div class="col s12">
        <!-- Modal Trigger -->
        <div class="col">
          <a class='btn' data-target='demoModal' href="#demoModal" modal>Show Modal</a>
        </div>
        <!-- Modal Structure -->
        <div id="demoModal" class="modal">
          <div class="modal-content">
            <h4>Nice!</h4>
            <p><span class="bold-text">Congratulations {{ account.name }}!</span></p>
            <p class="error-text">However, the registration and account features of this project are not currently implemented. No data has been
              collected.
            </p>
          </div>
          <div class="modal-footer">
            <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>